[submodule "start/vim-csharp"]
	path = start/vim-csharp
	url = https://github.com/OrangeT/vim-csharp.git
  ignore = dirty
[submodule "start/vim-fsharp"]
	path = start/vim-fsharp
	url = https://github.com/fsharp/vim-fsharp.git
  ignore = dirty
