[submodule "start/vim-csharp"]
	path = start/vim-csharp
	url = https://github.com/OrangeT/vim-csharp.git
  ignore = dirty
[submodule "start/vim-fsharp"]
	path = start/vim-fsharp
	url = https://github.com/fsharp/vim-fsharp.git
  ignore = dirty
[submodule "opt/omnisharp-vim"]
	path = opt/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
  ignore = dirty
[submodule "start/vim-helptags"]
	path = start/vim-helptags
	url = https://github.com/Traap/vim-helptags.git
  ignore = dirty
